<!DOCTYPE html>
<html>
<head>
    {% block head %}

    {% endblock %}
    
</head>
<body>
    <nav class="nav-default">
        <ul>
            <li><a href="{% url 'crm_test:webhook' %}">CRM TEST App</a></li> 
            <li><a href="{% url 'user_login:login' %}">Login</a></li>
            <li><a href="{% url 'user_login:profile' %}">Profile</a></li>
            <li><a href="{% url 'user_login:logout' %}">logout</a></li>
            <li><a href="{% url 'user_login:signup' %}">signup</a></li>
            <li><a href="{% url 'user_login:password_change' %}">Change Password</a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}
    
</body>
</html>